body
{
  background: gray;  
}

/*Estilo del boton barajar*/
.Barajar{       
        background-color: #06066e;
        color: white;
        border-radius: 45px;  
        padding: 10px 20px;
        font-weight: 900;
        border: none;
}

.superior{
    display: flex;
    border-color: #06066e;
    padding: 30px 480px;
    justify-content: space-around;
}

.enunciado{
  display: flex;
  justify-content: space-around;
border:1px solid black;
padding:10px;
margin:20px;
}

.marcoenunciado
{
border:1px solid black;
}


